<div class="container">
    <div>
        <div>
            <h2>
                Launches
            </h2>
            <form class="form-inline">
                <input type="text" class="span4" placeholder="Title" name="title" id="title" value={{title}}>
                <button type="submit" class="btn" id="filter">Filter</button>
            </form>
        </div>
    </div>
    <table id="some-beans-list" class="table table-striped">
        <tbody class="some-beans">
        <tr>
            <th>Name</th>
            <th>Created</th>
        </tr>
        <tr id="spinner">
            <td><img id="loading" src="/imgs/spinner.gif"></td>
            <td></td>
        </tr>
        </tbody>
    </table>


    <div class="pager-wrapper">
    </div>

</div>

