.footer {
    background-color: whiteSmoke;
    border-top: 1px solid #E5E5E5;
    bottom: 0;
    clear: both;
    height: 35px;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
}

#content{
    min-height: 100%;
}

body{
    height: 91%;
}

html{
    height: 100%;
}

.widget-caption{
    text-align: center;
}

.wide-container{
    width: 1060px;
    margin-left: 15%;
}

.full-container{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.unclickable {
    pointer-events: none;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    background: url("/imgs/chosen-sprite.png") no-repeat scroll right top transparent;
    display: block;
    font-size: 1px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
}

#page, #main, #mian{
    height: 100%;
}

.itemsList {
    height: 70%;
    overflow: auto;
}

.container {
    height: 100%;
}